Checks: '-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  llvm-*,
  -llvm-namespace-comment,
  modernize-*,
  -modernize-use-trailing-return-type,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  portability-*,
  readability-*,
  readability-identifier-naming,
  -readability-identifier-length,
  -readability-braces-around-statements'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key: readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key: readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-naming.MacroDefinitionCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.EnumCase
    value: 'CamelCase'
  - key: readability-identifier-naming.UsePrefix
    value: 'true'
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: '_'
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: '_'

WarningsAsErrors: '*'

FormatStyle: 'file'

# not <>, only ""
HeaderFilterRegex: "^\"[:lower:]*\\.h\"$"
