<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Delete Video</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset-min.css') }}">
  <link rel='stylesheet prefetch' href="{{ url_for('static', filename='css/roboto.css') }}">
  <link rel='stylesheet prefetch' href="{{ url_for('static', filename='css/monsterrat.css') }}">
  <link rel='stylesheet prefetch' href="{{ url_for('static', filename='css/font-awesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>

<body>
    <div class="container">
      <div class="info">
        <h1 style="color:#16A085;">Re-enter password to confirm account deletion</h1>
      </div>
    </div>
    <div class="form">
      <form class="login-form" action="remove" method="post">
        {% if c_error %}
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Invalid password
          </div>
        {% endif %}
        <input type="text" name="title" value="{{ title }}" readonly>
        <input type="text" name="video_ID" value="{{ video_ID }}" readonly/>
        <input id="password" type="password" name="password" placeholder="re-enter password" required autofocus/>
        <button>confirm</button>
        <a href="{{ url_for('my_videos') }}">
          <button onclick="cancel()">cancel</button>
        </a>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/delete.js') }}"></script>
</body>
</html>
