.footer {
  flex: 0 0 auto;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-bg-card);
  line-height: 1.5;
  font-size: 85%;
  padding: 0 1.5em;
}

.footer .legal-link {
  text-align: right;
}
