.info {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 35.5em) {
  .info {
    width: 75%;
  }
}

@media only screen and (min-width: 48em) {
  .info {
    width: 50%;
  }
}

@media only screen and (min-width: 64em) {
  .info {
    width: 35%;
  }
}
