.form-password {
  position: relative;
}

.form-password .input {
  padding-right: 2.5em;
}

.field-icon {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-text-black);
  z-index: 1;
  line-height: 1;
}
