.form-search {
  margin: 0.5em;
  font-size: clamp(85%, 2vw, 100%);
}

.search-field-icon {
  float: right;
  position: relative;
  margin-right: 0.6em;
  margin-top: -1.85em;
  z-index: 2;
  cursor: pointer;
}

.filter-toggle {
  margin-top: 0.5em;
  width: 8em;
}

.filter-toggle-arrow {
  margin-left: 0.5em;
  width: 0.6em;
  height: 0.6em;
  transition: transform 0.2s;
}

.filter-toggle.is-open .filter-toggle-arrow {
  transform: rotate(180deg);
}

.search-filters {
  margin: 0 0.5em;
}

.search-filter .select-dropdown {
  padding-right: 0.5em;
}

@media only screen and (max-width: 35.5em) {
  .filter-toggle {
    margin-left: 0.5em;
    margin-top: 0;
  }
}

@media only screen and (max-width: 48em) {
  .form-search {
    font-size: 100%;
  }

  .search-field-icon {
    margin-top: -1.8em;
  }

  .search-filter .select-dropdown {
    padding-top: 0.5em;
    padding-right: 0em;
  }
}

@media only screen and (max-width: 30em) {
  .search-field-icon {
    margin-top: -2.1em;
  }
}
