.input-search {
  margin: 0.5em;
  font-size: clamp(85%, 2vw, 100%);
}

.search-field-icon {
  float: right;
  position: relative;
  margin-right: 0.6em;
  margin-top: -2.2em;
  z-index: 2;
  cursor: pointer;
}

.filter-toggle {
  margin: 0.5em;
  width: 8em;
}

.filter-toggle-arrow {
  margin-left: 0.5em;
  width: 0.6em;
  height: 0.6em;
  transition: transform 0.2s;
}

.filter-toggle.is-open .filter-toggle-arrow {
  transform: rotate(180deg);
}

.search-filters {
  margin: 0 0.5em;
}

.search-filter .select-dropdown {
  padding-top: 0.5em;
  padding-right: 0em;
}

@media only screen and (min-width: 35.5em) {
  .input-search {
    width: 50%;
  }
}

@media only screen and (min-width: 48em) {
  .input-search {
    font-size: 100%;
  }

  .search-field-icon {
    margin-top: -1.85em;
  }
}

@media only screen and (min-width: 64em) {
  .input-search {
    width: 33.33%;
  }
}
