.video-js .vjs-big-play-button:active,
.video-js .vjs-big-play-button:focus,
.video-js:hover .vjs-big-play-button {
  color: var(--color-primary);
}

.video-js .vjs-progress-control .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-control .vjs-progress-holder .vjs-play-progress:before {
  background-color: var(--color-primary);
}

.video-js .vjs-loading-spinner {
  border-color: var(--color-primary);
}

.video-js .vjs-progress-control {
  top: -1em;
}

.video-js .vjs-play-control:focus-visible {
  outline: none;
}
