<!DOCTYPE html>
<html>

<head>
    <title>Page Not Found - {{ website_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/static/css/404.css" type="text/css">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>

<body>
    <div class="content">
        <div class="info">
            <h1>ERROR 404</h1>
            <h3>Sorry! The page you are looking for can't be found</h3>
            <a href="/" class="back">BACK TO HOME</a>
        </div>
    </div>
</body>

</html>