<!DOCTYPE html>
<html>

<head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/static/css/404.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font.css" type="text/css">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>

<body class="back">
    <div class="main">
        <br><br><br><br><br><br>
        <h1>ERROR 404</h1>
        <h3>Sorry! The page you are looking for can't be found</h3>
        <a href="/" class="back">BACK TO HOME</a>
    </div>
</body>

</html>