<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Group Add - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/MultiSelect.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/css/alert.css" type="text/css">
  <script type="text/javascript" src="/static/js/alert.js"></script>
  <script type="text/javascript" src="/static/js/button.js"></script>
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>
  <div class="content">
    <div class="info">
      <a href="/">
        <h1>{{ website_name }}</h1>
      </a>

      <h3>Add a new group</h3>

      <form class="pure-form pure-form-aligned" action="/add-group" method="post">
        <fieldset>
          {% if invalid_group_name %}
          <div class="alert pure-control-group">
            <svg class="close-button">
              <title>Close</title>
              <use href="/static/img/x.svg#x" />
            </svg>
            <p>Group name already taken</p>
          </div>
          {% endif %}
          <div class="pure-control-group">
            <input class="pure-input-1" type="text" name="name" placeholder="name" required autofocus />
          </div>

          {% if user_dict %}
          <div class="pure-control-group">
            <select id="user_ids" name="user_ids" class="pure-input-1" multiple
              data-placeholder="Add users to group (optional):">
              {% for user in user_dict %}
              <option value="{{ user.id }}">{{ user.name }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}

          <div class="pure-control-group">
            <button id="create-button" class="pure-input-1 button pure-button">Create</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="/static/js/third-party/MultiSelect.js"></script>
  <script>
    new MultiSelect(document.getElementById('user_ids'));
  </script>
</body>

</html>