<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>User Add Password - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/css/alert.css" type="text/css">
  <script type="text/javascript" src="/static/js/alert.js"></script>
  <script type="text/javascript" src="/static/js/button.js"></script>
  <script type="text/javascript" src="/static/js/password.js"></script>
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>
  <div class="content">
    <div class="info">
      <a href="/">
        <h1>{{ website_name }}</h1>
      </a>

      <h3>Set a new password</h3>

      <form class="pure-form pure-form-aligned" action="/add-password/{{ user_id }}" method="post">
        <fieldset>
          {% if invalid_password %}
          <div class="alert pure-control-group">
            <svg class="close-button">
              <title>Close</title>
              <use href="/static/img/x.svg#x" />
            </svg>
            <p>Passwords do not match</p>
          </div>
          {% endif %}
          <div class="pure-control-group">
            <input class="pure-input-1" type="password" name="password" placeholder="password" required />
          </div>
          <div class="pure-control-group">
            <input class="pure-input-1" type="password" name="confirm-password" placeholder="password" required />
          </div>
          <div class="pure-control-group">
            <button id="create-button" class="pure-input-1 button pure-button">Create</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</body>

</html>