<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Admin List</title>
  <link rel="stylesheet" href="/static/css/bootstrap-min-337.css">
  <link rel="stylesheet" href="/static/css/user_list.css">
  <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>

<body class="back">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a style="color: #16A085;" class="navbar-brand" href="/">VideoHub</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color: #16A085;" href="/dashboard">Dashboard</a></li>
        <li><a style="color: #16A085;" href="/user-list">User List</a></li>
        <li><a style="color: #16A085;" href="/video-list">Video List</a></li>
        <li><a style="color: #16A085;" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <br><br><br>
  <h2 style="color:#16A085; text-align:center;">List of administrators</h2>
  <br><br>
  <div class="table-responsive-vertical shadow-z-1">
    <table id="table" class="table table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th></th>
          <th style="text-align: right;">
            <a href="/add-user?admin=true">
              <img src="static/img/person-add.svg" alt="add a new admin" />
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for admin in admin_dict %}
        <tr>
          <td style="color:#FFFFFF;" data-title="Username">{{ admin.username }}</td>
          {% if not admin.is_super_admin %}
          <td style="color:#FFFFFF;" data-title="Update">
            <a style="color:#16A085;text-decoration:none;" href="/update-user/{{ admin.username }}?admin=true">
              Update
            </a>
          </td>
          <td style="color:#FFFFFF;" data-title="Delete">
            <a style="color:#16A085;text-decoration:none;" href="/delete-user/{{ admin.username }}?admin=true">
              Delete
            </a>
          </td>
          {% else %}
          <td></td>
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>