<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>VideoHub</title>
  <link rel="stylesheet" href="/static/css/reset-min.css">
  <link rel='stylesheet prefetch' href="/static/css/roboto.css">
  <link rel='stylesheet prefetch' href="/static/css/monsterrat.css">
  <link rel='stylesheet prefetch' href="/static/css/font-awesome.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/alert.css">
  <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>

<body>
  <div class="container">
    <div class="info">
      <h1 style="color:#16A085;">Are you sure?</h1>
    </div>
  </div>
  <div class="form">
    <form class="login-form" action="/confirm?response=false" method="post" style="display:inline;">
      <button autofocus>No</button>
    </form>
    <form class="login-form" action="/confirm?response=true" method="post" style="display:inline;">
      <button>Yes</button>
    </form>
  </div>
</body>

</html>