<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Confirm - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <script type="text/javascript" src="/static/js/button.js"></script>
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>
  <div class="content">
    <div class="info">
      <h1>Are you sure?</h1>
      <form class="pure-form pure-form-aligned" action="/confirm?response=false" method="post">
        <div class="pure-control-group">
          <button id="no-button" class="pure-input-1 button pure-button" autofocus>No</button>
        </div>
      </form>
      <form class="pure-form pure-form-aligned" action="/confirm?response=true" method="post">
        <div class="pure-control-group">
          <button id="yes-button" class="pure-input-1 button pure-button">Yes</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>