<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Administrator Dashboard - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/grids-responsive-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>

  <div class="header pure-g">
    <div class="pure-u-1 pure-u-md-1-5 pure-menu pure-menu-horizontal">
      <a href="/" class="menu-link pure-menu-heading pure-menu-link">{{ website_name }}</a>
    </div>

    <div class="pure-u-1 pure-u-md-4-5 menu-scrollable pure-menu pure-menu-horizontal pure-menu-scrollable">
      <ul class="menu-scrollable-list pure-menu-list">
        <li class="pure-menu-item">
          <a href="/" class="menu-link pure-menu-link">Home</a>
        </li>
        <li class="pure-menu-item">
          <a href="/dashboard" class="menu-link menu-selected pure-menu-link pure-menu-selected">Dashboard</a>
        </li>
        <li class="pure-menu-item">
          <a href="/video-list" class="menu-link pure-menu-link">Video List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/admin-list" class="menu-link pure-menu-link">Admin List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/user-list" class="menu-link pure-menu-link">User List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/group-list" class="menu-link pure-menu-link">Group List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/logout" class="menu-link pure-menu-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <h2>{{ website_name }} Statistics</h2>
    <table id="table" class="table pure-table pure-table-horizontal">
      <tbody>
        <tr>
          <td data-title="user_count">Total number of users registered</td>
          <td data-title="u_count">
            <a href="/user-list">{{ user_count }}</a>
          </td>
        </tr>
        <tr>
          <td data-title="group_count">Total number of group registered</td>
          <td data-title="count">
            <a href="/group-list">{{ group_count }}</a>
          </td>
        </tr>
        <tr>
          <td data-title="video_count">Total number of videos uploaded</td>
          <td data-title="count">
            <a href="/video-list">{{ video_count }}</a>
          </td>
        </tr>
        <tr>
          <td data-title="view_count">Total number of views</td>
          <td data-title="v_count">{{ view_count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>