<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/css/alert.css" type="text/css">
  <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>

<body>
  <div class="content">
    <div class="info">
      <a href="/">
        <h1>{{ website_name }}</h1>
      </a>

      <form class="pure-form pure-form-aligned" action="/login" method="post">
        <fieldset>
          {% if login_error %}
          <div class="alert pure-control-group">
            <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
            <p>Invalid credentials</p>
          </div>
          {% endif %}
          <div class="pure-control-group">
            <input class="pure-input-1" type="text" name="username" placeholder="username" required autofocus />
          </div>
          <div class="pure-control-group">
            <input class="pure-input-1" type="password" name="password" placeholder="password" required />
          </div>
          <div class="pure-control-group">
            <button id="login-button" class="pure-input-1 button pure-button">Login</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</body>

<script type="text/javascript" src="/static/js/button.js"></script>

</html>