<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/css/alert.css" type="text/css">
  <script type="text/javascript" src="/static/js/alert.js"></script>
  <script type="text/javascript" src="/static/js/button.js"></script>
  <script type="text/javascript" src="/static/js/password.js"></script>
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>
  <div class="content">
    <div class="info">
      <a href="/">
        <h1>{{ website_name }}</h1>
      </a>

      <form class="pure-form pure-form-aligned" action="/login" method="post">
        <fieldset>
          {% if login_error %}
          <div class="alert pure-control-group">
            <svg class="close-button">
              <title>Close</title>
              <use href="/static/img/x.svg#x" />
            </svg>
            <p>Invalid credentials</p>
          </div>
          {% endif %}
          <div class="pure-control-group">
            <input id="usernameValue" class="pure-input-1" type="text" name="username" placeholder="username" required
              autofocus />
          </div>
          <div class="pure-control-group">
            <input class="pure-input-1" type="password" name="password" placeholder="password" required />
          </div>
          <div class="pure-control-group">
            <button id="login-button" class="pure-input-1 button pure-button">Login</button>
          </div>
        </fieldset>
      </form>

      <form id="add-password-form" action="/login" method="post" style="display:none;">
        <input id="usernameHidden" type="text" name="username" />
      </form>
      <div class="add-user">
        <a href="#" id="add-password">First connection?</a>
      </div>

    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('add-password').addEventListener('click', function (e) {
        e.preventDefault();
        const username = document.getElementById('usernameValue').value;
        document.getElementById('usernameHidden').value = username;
        document.getElementById('add-password-form').submit();
      });
    });
  </script>

</body>

</html>