<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Video Update - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/MultiSelect.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/css/upload.css" type="text/css">
  <script type="text/javascript" src="/static/js/button.js"></script>
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>
  <div class="content">
    <div class="info">
      <a href="/">
        <h1>{{ website_name }}</h1>
      </a>

      <h3>Change video title, group and user rights</h3>

      <form class="pure-form pure-form-aligned" action="/update-video/{{ video_id }}" method="post">
        <fieldset>
          <div class="pure-control-group">
            <input class="pure-input-1" type="text" name="title" id="title" value="{{ video_title }}"
              placeholder="{{ video_title_placeholder }}" required>
          </div>

          {% if group_dict %}
          <div class="pure-control-group">
            <select id="group_ids" name="group_ids" class="pure-input-1" multiple
              data-placeholder="Select groups (optional):">
              {% for group in group_dict %}
              <option value="{{ group.id }}" {% if group.selected %} selected {% endif %}>{{ group.name }}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          {% endif %}

          {% if user_dict %}
          <div class="pure-control-group">
            <select id="user_ids" name="user_ids" class="pure-input-1" multiple
              data-placeholder="Select usernames (optional):">
              {% for user in user_dict %}
              <option value="{{ user.id }}" {% if user.selected %} selected {% endif %}>{{ user.name }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}

          <div class="pure-control-group">
            <button cid="update-button" class="pure-input-1 button pure-button">Update</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="/static/js/third-party/MultiSelect.js"></script>
  <script>
    ['user_ids', 'group_ids'].forEach(id => {
      const idsElement = document.getElementById(id);
      if (idsElement) new MultiSelect(idsElement);
    });
  </script>
</body>

</html>