<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>VideoHub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/grids-responsive-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/css/upload.css" type="text/css">
  <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>

<body>
  <div class="content">
    <div class="info">
      <a href="/">
        <h1>VideoHub</h1>
      </a>

      <h3>Upload video</h3>
      <form class="pure-form pure-form-aligned" action="/update-video/{{ video_id }}" method="post">
        <fieldset>
          {% if user_dict %}
          <div class="pure-g">
            <div class="pure-u-1">
              <p>Select usernames (optional):</p>
            </div>
            {% for user in user_dict %}
            <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
              <div class="user-check">
                <label class="button-check pure-checkbox" for="{{ user.id }}">
                  <input {% if user.checked %} checked {% endif %} name="user_ids" id="{{ user.id }}"
                    value="{{ user.id }}" type="checkbox">
                  {{ user.name }}
                </label>
              </div>
            </div>
            {% endfor %}
          </div>
          <br>
          {% endif %}
          <div class="pure-control-group">
            <button class="pure-input-1 button pure-button">Update</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</body>

</html>