<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>VideoHub</title>
  <link rel="stylesheet" href="/static/css/reset-min.css">
  <link rel='stylesheet prefetch' href="/static/css/roboto.css">
  <link rel='stylesheet prefetch' href="/static/css/monsterrat.css">
  <link rel='stylesheet prefetch' href="/static/css/font-awesome.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/alert.css">
  <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>

<body>
  <div class="container">
    <div class="info">
      <h1 style="color:#16A085;">Update &laquo; {{ username }} &raquo;</h1>
      <h2 style="color:#16A085;">Re-enter old password and new password</h2>
    </div>
  </div>
  <div class="form">
    <form class="login-form" action="/update-user/{{ username }}" method="post">
      {% if login_error %}
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Old password does not match
      </div>
      {% else if update_error %}
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        New passwords do not match
      </div>
      {% endif %}
      <input type="password" name="old-password" placeholder="old password" required autofocus />
      <input type="password" name="new-password" placeholder="new password" required />
      <input type="password" name="confirm-password" placeholder="new password" required />
      <button>Update</button>
    </form>
  </div>
</body>

</html>