<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>User List - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/grids-responsive-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>
  <div class="header pure-g">
    <div class="pure-u-1 pure-u-sm-1-5 pure-menu pure-menu-horizontal">
      <a href="/" class="menu-link pure-menu-heading pure-menu-link">{{ website_name }}</a>
    </div>

    <div class="pure-u-1 pure-u-sm-4-5 menu-scrollable pure-menu pure-menu-horizontal pure-menu-scrollable">
      <ul class="menu-scrollable-list pure-menu-list">
        <li class="pure-menu-item">
          <a href="/admin-list" class="menu-link pure-menu-link">Admin List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/user-list" class="menu-link menu-selected pure-menu-link pure-menu-selected">User List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/video-list" class="menu-link pure-menu-link">Video List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/logout" class="menu-link pure-menu-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <h2>List of users</h2>
    <table id="table" class="table pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th>Username</th>
          <th></th>
          <th class="add-user">
            <a href="/add-user?is_admin=false">
              <img src="static/img/person-add.svg" alt="add a new user" />
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_dict %}
        <tr>
          <td data-title="Username">{{ user.name }}</td>
          <td data-title="Update">
            <a href="/update-user/{{ user.id }}?is_admin=false">Update</a>
          </td>
          <td data-title="Delete">
            <a href="/delete-user/{{ user.id }}?is_admin=false">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>