<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Video List - {{ website_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/grids-responsive-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/css/drawer.css" type="text/css">
  <script type="text/javascript" src="/static/js/drawer.js"></script>
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>
  <div class="header pure-g">
    <div class="pure-u-1 pure-u-md-1-5 pure-menu pure-menu-horizontal">
      <a href="/" class="menu-link pure-menu-heading pure-menu-link">{{ website_name }}</a>
    </div>

    <div class="pure-u-1 pure-u-md-4-5 menu-scrollable pure-menu pure-menu-horizontal pure-menu-scrollable">
      <ul class="menu-scrollable-list pure-menu-list">
        <li class="pure-menu-item">
          <a href="/" class="menu-link pure-menu-link">Home</a>
        </li>
        <li class="pure-menu-item">
          <a href="/dashboard" class="menu-link pure-menu-link">Dashboard</a>
        </li>
        <li class="pure-menu-item">
          <a href="/admin-list" class="menu-link pure-menu-link">Admin List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/user-list" class="menu-link pure-menu-link">User List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/video-list" class="menu-link menu-selected pure-menu-link pure-menu-selected">Video List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/logout" class="menu-link pure-menu-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    {% if not video_dict %}
    <h1>Nothing uploaded yet</h1>
    <h3>
      <a href="/add-video">Upload a new video</a>
    </h3>
    {% else %}
    <h1>Uploaded videos</h1>
    <h3>
      <a href="/add-video">Upload a new video</a>
    </h3>
    <table id="table" class="table pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th></th>
          <th>Video Name</th>
          <th>Views</th>
          <th class="add-user">
            <a href="/add-video">
              <svg class="svg-button">
                <title>Add a new video</title>
                <use href="/static/img/cloud-plus.svg#cloud-plus" />
              </svg>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for video in video_dict %}
        <tr>
          <td>
            <a href="/download-video/{{ video.id }}" download="{{ video.title }}.mp4">
              <svg class="svg-button">
                <title>Download {{ video.title }}.mp4</title>
                <use href="/static/img/cloud-arrow-down.svg#cloud-arrow-down" />
              </svg>
            </a>
          </td>
          <td data-title="video-name">
            <a href="/watch-video/{{ video.id }}">{{ video.title }}</a>
          </td>
          <td>{{ video.views }}</td>
          <td>
            <div class="pure-g">
              <div class="pure-u-1 pure-u-lg-1-3">
                {% if video.right_list %}
                <label class="drawer-button" for="drawer-checkbox">Users</label>
                <input hidden type="checkbox" id="drawer-checkbox">
                <label for="drawer-checkbox" class="drawer-overlay" role="dialog">
                  <label class="drawer" aria-modal="true" aria-labelledby="drawer-title" role="document">
                    <div class="pure-g">
                      <div class="drawer-title pure-u-1">
                        <h1>User Rights</h1>
                        <label class="drawer-button drawer-close" for="drawer-checkbox" aria-label="Close drawer">
                          <svg class="svg-button">
                            <title>Close</title>
                            <use href="/static/img/x-lg.svg#x-lg" />
                          </svg>
                        </label>
                      </div>
                      {% for right in video.right_list %}
                      <div class="pure-u-1 pure-u-lg-1-2">
                        <p>{{ right }}</p>
                      </div>
                      {% endfor %}
                    </div>
                  </label>
                </label>
                {% endif %}
              </div>
              <div class="pure-u-1 pure-u-lg-1-3">
                <a href="/update-video/{{ video.id }}">Update</a>
              </div>
              <div class="pure-u-1 pure-u-lg-1-3">
                <a href="/delete-video/{{ video.id }}">Delete</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</body>

</html>