<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>VideoHub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>

<body>
  <div class="header">
    <div class="pure-menu pure-menu-horizontal">
      <a href="/" class="menu-link pure-menu-heading pure-menu-link">VideoHub</a>

      <ul class="menu-list pure-menu-list">
        <li class="pure-menu-item">
          {% if not is_logged %}
          <a href="/login" class="menu-link pure-menu-link">Login</a>
          {% else %}
          <a href="/logout" class="menu-link pure-menu-link">Logout</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="info info-video">
      <h1>{{ title }}</h1>
      <video controls controlsList="nodownload" autoplay>
        <source src="/video/{{ id }}" type="video/mp4">
        Your browser doesn't support this format.
      </video>
      {% if views == "1" %}
      <p>{{ views }} view</p>
      {% endif %}
      {% if views != "1" %}
      <p>{{ views }} views</p>
      {% endif %}
    </div>
  </div>
</body>

</html>