<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ title }} - {{ website_name }}</title>
  <meta property="og:title" content="{{ meta_video_title }}" />
  <meta property="og:description" content="{{ meta_video_description }}" />
  <meta property="og:url" content="{{ meta_video_url }}" />
  <meta property="og:image" content="{{ meta_video_image }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/third-party/pure-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/grids-responsive-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/videojs-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/videojs-mobile-ui-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/third-party/videojs-yt-style-min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  <link rel="stylesheet" href="/static/css/video.css" type="text/css">
  {% if is_forbidden %}
  <link rel="stylesheet" href="/static/css/404.css" type="text/css">
  {% endif %}
  <link rel="icon" href="{{ icon }}" type="image/png">
</head>

<body>
  <div class="header">
    <div class="pure-menu pure-menu-horizontal">
      <a href="/" class="menu-link pure-menu-heading pure-menu-link">{{ website_name }}</a>

      <ul class="menu-list pure-menu-list">
        <li class="pure-menu-item">
          {% if not is_logged %}
          <a href="/login" class="menu-link pure-menu-link">Login</a>
          {% else %}
          <a href="/logout" class="menu-link pure-menu-link">Logout</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="info info-video">
      <h1>{{ title }}</h1>

      {% if not is_forbidden %}

      <video oncontextmenu="return false;" id="video-player" class="video-js vjs-default-skin" controls
        data-setup='{"fluid": true}' preload="auto">
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
      {% if views == "1" %}
      <p>{{ views }} view</p>
      {% endif %}
      {% if views != "1" %}
      <p>{{ views }} views</p>
      {% endif %}

      {% else %}

      <h3>Access Restricted</h3>
      <p>It looks like you don’t have permission to view this video.<br />
        Please make sure you’re logged in or have the right access.</p>
      <a href="/login" class="back">Log in to continue</a>

      {% endif %}
    </div>
  </div>

  {{ footer }}
</body>

<script type="text/javascript" src="/static/js/third-party/videojs-min.js"></script>
<script type="text/javascript" src="/static/js/third-party/videojs-mobile-ui-min.js"></script>
<script type="text/javascript" src="/static/js/third-party/videojs-yt-style-min.js"></script>
<script>
  const videoId = "{{ video_id }}";
  const player = videojs('video-player', {
    fluid: true,
    html5: {
      vhs: {
        overrideNative: true,
      },
    },
    playbackRates: [0.25, 0.5, 0.75, 1, 1.5, 2],
  });
  // player.mobileUi();
  player.ytStyle();

  player.src({ src: `/video/${videoId}/playlist`, type: "application/x-mpegURL" });

  {% if is_logged and not is_forbidden %}
  // video cache service worker
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/js/videoserviceworker.js', { scope: '/watch-video/' });
  }
  {% endif %}

  player.on('play', () => {
    const pageAccessedByReload = (
      (window.performance.navigation && window.performance.navigation.type === 1) ||
      window.performance
        .getEntriesByType('navigation')
        .map((nav) => nav.type)
        .includes('reload')
    );

    if (pageAccessedByReload)
      return;

    fetch('/increment_video_views/{{ video_id }}', {
      method: 'POST',
      credentials: 'same-origin',
    })
      .catch(error => {
        console.error('Increment error:', error);
        throw error;
      })
  });
</script>

</html>