.alert {
  padding: 0.5em;
  border-radius: 4px;
  background-color: #0d5b4c;
  color: white;
}

.close-button {
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  line-height: 0.5em;
  fill: white;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}

.close-button:hover {
  fill: black;
}