* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
* BASE
*/
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #c9c9c9;
    line-height: 1.7em;
    background: rgba(0, 0, 0, 0.9);
}

a {
    color: #16A085;
    text-decoration: none;
}

a:hover {
    color: #0D5B4C;
}

h1,
h2,
h3 {
    color: #16A085;
    text-align: center;
}

hr {
    border-color: #c9c9c9;
}

.thumbnail {
    border-radius: 25px;
    padding: 0.5em;
}

.button {
    color: white;
    background-color: #16A085;
    border-radius: 4px;
    height: 100%;
}

.button:hover {
    background-color: #0D5B4C;
}

.svg-button {
    fill: #16A085;
    width: 1em;
    height: 1em;
}

.svg-button:hover {
    fill: #0D5B4C;
}

.button-spinner {
    padding-top: 0.3em;
    padding-bottom: 0.1em;
}

.field-icon {
    float: right;
    position: relative;
    margin-right: 0.3em;
    margin-top: -1.65em;
    z-index: 2;
    cursor: pointer;
}

/*
* MENU
*/
.header {
    /* Align the menu header to the left, but float the menu items to the right */
    text-align: left;
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.menu-link {
    color: #16A085;
}

.menu-link:hover {
    color: white;
    text-shadow: none;
    background-color: #0D5B4C;
    border-radius: 4px;
}

.menu-list,
.menu-scrollable-list {
    float: right;
}

.menu-selected {
    /* bold weight without width change */
    text-shadow: 0px 0px 1px #16A085;
}

/* Compensate Pure horizontal menu scrollable */
.pure-menu-horizontal.pure-menu-scrollable {
    padding: 0;
}

.form-search {
    margin: 0 0.5em;
    padding-top: 0.2em;
    font-size: 85%;
}

.button-search {
    margin-left: 0.5em;
}

/*
* CONTENT
*/
.content {
    margin: 5em 1em;
    flex: 1 0 auto;
}

.info {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/*
* TABLE
*/
.table {
    width: 100%;
    border: 0;
    background-color: #323232;
    -webkit-box-shadow: 0 1px 3px 0 #464646, 0 1px 2px 0 #464646;
    -moz-box-shadow: 0 1px 3px 0 #464646, 0 1px 2px 0 #464646;
    box-shadow: 0 1px 3px 0 #464646, 0 1px 2px 0 #464646;
}

.table>thead>tr>td,
.table>thead>tr>th {
    color: #16A085;
    font-weight: normal;
    background-color: #323232;
}

.table>thead>tr>td,
.table>thead>tr>th,
.table>tbody>tr>td,
.table>tbody>tr>th {
    border-bottom: 1px solid #464646;
}

.table>tbody>tr:hover>td,
.table>tbody>tr:hover>th {
    background-color: #464646;
}

.add-user {
    text-align: right;
}

/*
* VIDEO
*/
video {
    width: 100%;
}

/*
* FOOTER
*/
.footer {
    flex-shrink: 0;
    width: 100%;
    border-top: 1px solid #464646;
    background-color: #323232;
    line-height: 1.5;
    font-size: 85%;
    padding: 0 1.5em;
}

.footer .legal-link {
    text-align: right;
}

/*
* SMALL PHONES
*/
@media only screen and (max-width: 30em) {

    .field-icon {
        margin-top: -1.95em;
    }
}

@media only screen and (max-width: 35.5em) {

    .menu-scrollable-list {
        float: unset;
    }
}

/*
* PHONE
*/
@media only screen and (min-width: 35.5em) {

    .info {
        width: 75%;
    }
}


@media only screen and (max-width: 48em) {

    /* Compensate Pure submit button */
    .pure-form button[type=submit] {
        margin-top: 0em;
        margin-left: 0.5em;
    }
}

/*
* TABLET (AND UP)
*/
@media only screen and (min-width: 48em) {

    /* Increase the body font size */
    body {
        font-size: 16px;
    }

    .form-search {
        font-size: 100%;
    }

    .content {
        margin: 5em;
    }

    .info {
        width: 50%;
    }

    .info-video {
        width: 75%;
    }
}

/*
* SMALL SCREEN
*/
@media only screen and (min-width: 64em) {

    .info {
        width: 35%;
    }

    .info-video {
        width: 65%;
    }
}