.video-js .vjs-big-play-button:active,
.video-js .vjs-big-play-button:focus,
.video-js:hover .vjs-big-play-button {
    color: #16A085;
}

.video-js .vjs-progress-control .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-control .vjs-progress-holder .vjs-play-progress:before {
    background-color: #16A085;
}

.video-js .vjs-loading-spinner {
    border-color: #16A085;
}

.video-js .vjs-progress-control {
    top: -1em;
}

.video-js .vjs-play-control:focus-visible {
    outline: none;
}